@import './styles/font.css';

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url("./assets/images/fondo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    user-select: none;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

.custom-font {
  font-family: 'Fontemon', sans-serif;
}

@font-face {
  font-family: 'Fontemon';
  src: url('/fonts/fontemon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.bordered-text {
  color: #1c4ad5;
  text-shadow: 
    -1px -1px 0 rgb(255,215,0),  
     1px -1px 0 rgb(255,215,0),  
    -1px  1px 0 rgb(255,215,0),  
     1px  1px 0 rgb(255,215,0); 
}
